<div class="create-view">
    <h2 class="page-title">New Password</h2>
    <form id="save-credentials">
      <label>URL:</label>
      <input type="url" id="website-url" required placeholder="https://example.com">
  
      <label>Username/Email:</label>
      <input type="text" id="website-username" required>
  
      <label>Password:</label>
      <input type="password" id="website-password" required>
      
      <br>
      <button type="submit">Save</button>
      <p id="save-error" class="error-message"></p>
    </form>
  </div>