<div class="user-settings">
  <h2 class="page-title">Change Login Info</h2>
  <form id="change-credentials">
      <label>New Username:</label>
      <input type="text" id="new-username" required>
      
      <label>New Password:</label>
      <input type="password" id="new-password" required>
      
      <label>Confirm Password:</label>
      <input type="password" id="confirm-password" required>
      <br>
      <button type="submit">Save Changes</button>
  </form>

  <button id="clear-storage" class="danger-btn">Delete All Saved Passwords</button>
  <p id="credential-error" class="error-message"></p>
</div>